<?xml version="1.0" ?>
<config>
    <modules>
        <Dibs_EasyCheckout>
            <version>0.9.6</version>
            <name>DIBS Easy Checkout Module</name>
            <depends>
                <Mage_Checkout/>
            </depends>
        </Dibs_EasyCheckout>
    </modules>

    <global>
        <blocks>
            <dibs_easycheckout>
                <class>Dibs_EasyCheckout_Block</class>
            </dibs_easycheckout>
            <adminhtml>
                <rewrite>
                    <sales_order_creditmemo_totals>Dibs_EasyCheckout_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <checkout>
              <rewrite>
                <onepage_link>Dibs_EasyCheckout_Block_Checkout_Onepage_Link</onepage_link>
                <cart_sidebar>Dibs_EasyCheckout_Block_Cart_Sidebar</cart_sidebar>
              </rewrite>
            </checkout>
        </blocks>
        <models>
            <dibs_easycheckout>
                <class>Dibs_EasyCheckout_Model</class>
                <resourceModel>dibs_easycheckout_resource</resourceModel>
            </dibs_easycheckout>
            <dibs_easycheckout_resource>
                <class>Dibs_EasyCheckout_Model_Resource</class>
            </dibs_easycheckout_resource>
        </models>
        <helpers>
            <dibs_easycheckout>
                <class>Dibs_EasyCheckout_Helper</class>
            </dibs_easycheckout>
        </helpers>
        <resources>
            <dibs_easycheckout_setup>
                <setup>
                    <module>Dibs_EasyCheckout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dibs_easycheckout_setup>

            <dibs_easycheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dibs_easycheckout_write>

            <dibs_easycheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dibs_easycheckout_read>
        </resources>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <dibs_easycheckout>
                        <class>dibs_easycheckout/observer</class>
                        <method>saveOrderDibsEasyPaymentDetails</method>
                    </dibs_easycheckout>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_quote_save_before>
                <observers>
                    <dibs_easycheckout>
                        <class>dibs_easycheckout/observer</class>
                        <method>validateDibsEasyPaymentId</method>
                    </dibs_easycheckout>
                </observers>
            </sales_quote_save_before>
            <sales_order_payment_capture>
                <observers>
                    <dibs_easycheckout>
                        <class>dibs_easycheckout/observer</class>
                        <method>setInvoiceToPaymentObject</method>
                    </dibs_easycheckout>
                </observers>
            </sales_order_payment_capture>
        </events>
    </global>
    <frontend>
        <routers>
            <dibs_easycheckout>
                <use>standard</use>
                <args>
                    <module>Dibs_EasyCheckout</module>
                    <frontName>dibseasy</frontName>
                </args>
            </dibs_easycheckout>
        </routers>
        <translate>
            <modules>
                <Dibs_EasyCheckout>
                    <files>
                        <default>Dibs_EasyCheckout.csv</default>
                    </files>
                </Dibs_EasyCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <dibs_easycheckout>
                    <file>dibs_easycheckout.xml</file>
                </dibs_easycheckout>
            </updates>
        </layout>
        <events>
            <payment_method_is_active>
                <observers>
                    <dibs_easycheckout>
                        <class>dibs_easycheckout/observer</class>
                        <method>setPaymentMethodAvailable</method>
                    </dibs_easycheckout>
                </observers>
            </payment_method_is_active>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Dibs_EasyCheckout>
                    <files>
                        <default>Dibs_EasyCheckout.csv</default>
                    </files>
                </Dibs_EasyCheckout>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dibs before="Mage_Adminhtml">Dibs_EasyCheckout_Adminhtml</dibs>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <payment>
            <dibs_easy_checkout>
                <title>Dibs Easy Checkout</title>
                <model>dibs_easycheckout/payment_checkout</model>
                <active>0</active>
                <carrier>dibs_easy_free_shipping</carrier>
                <sort_order>999</sort_order>
                <terms_and_conditions_link_type>direct</terms_and_conditions_link_type>
                <allowed_customer_types>B2C</allowed_customer_types>
                <live_secret_key backend_model="adminhtml/system_config_backend_encrypted" />
                <test_secret_key backend_model="adminhtml/system_config_backend_encrypted" />
            </dibs_easy_checkout>
        </payment>
    </default>
</config>
