<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <dibs_easy_checkout translate="label">
                    <label>DIBS Easy Checkout</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Dibs Easy Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <environment translate="label">
                            <label>Select Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs_easycheckout/system_config_source_environment</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </environment>
                        <live_secret_key translate="label">
                            <label>Live Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </live_secret_key>
                        <test_secret_key translate="label">
                            <label>Test Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </test_secret_key>
                        <live_checkout_key translate="label">
                            <label>Live Checkout Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </live_checkout_key>
                        <test_checkout_key translate="label">
                            <label>Test Checkout Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </test_checkout_key>
                        <allowed_customer_types translate="label">
                            <label><![CDATA[Allowed Customer Types]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs_easycheckout/system_config_source_customertype</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </allowed_customer_types>
                        <terms_and_conditions_link_type translate="label">
                            <label><![CDATA[Terms & Condition Link Type]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs_easycheckout/system_config_source_termsconditions</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </terms_and_conditions_link_type>
                        <terms_and_conditions_link translate="label">
                            <label><![CDATA[Terms & Condition Direct Link]]></label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-url</validate>
                            <sort_order>67</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <terms_and_conditions_link_type>direct</terms_and_conditions_link_type>
                            </depends>
                            <comment><![CDATA[Specify URL]]></comment>
                        </terms_and_conditions_link>
                        <terms_and_conditions_link_cms_page translate="label">
                            <label><![CDATA[Terms & Condition Cms Page]]></label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>69</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                                <terms_and_conditions_link_type>cms_page</terms_and_conditions_link_type>
                            </depends>
                            <comment><![CDATA[Select Cms Page]]></comment>
                        </terms_and_conditions_link_cms_page>
                        <new_order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs_easycheckout/system_config_source_status</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <depends><enabled>1</enabled></depends>
                        </new_order_status>
                        <carrier translate="label">
                            <label>Shipping Carrier</label>
                            <frontend_type>select</frontend_type>
                            <source_model>dibs_easycheckout/system_config_source_carrier</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                            <depends><enabled>1</enabled></depends>
                        </carrier>
                    </fields>
                </dibs_easy_checkout>
            </groups>
        </payment>
        <carriers>
            <groups>
                <dibs_easy_free_shipping translate="label">
                    <label>Dibs Easy Free Shipping</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                    </fields>
                </dibs_easy_free_shipping>
            </groups>
        </carriers>
    </sections>
</config>
