
.cart-thead {
    text-transform: uppercase;
    color: #575757;

}

.dibs-easy-checkout-section {
    margin-bottom: 30px;
}
.dibs-easy-shipping-selector {
    cursor:pointer;
    font-size: 16px;
    position: relative;

    background: #FFF;
    border: 1px solid #e4e4e4;
    padding: 20px 30px 20px 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.dibs-easy-shipping-selector::before {
    position: absolute;

    left: 20px;
    top: 20px;

    height: 22px;
    width: 22px;
    border-radius: 12px;
    content: " ";
}

.dibs-easy-shipping-selector::after {
    position: absolute;
    left: 28px;
    top: 28px;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    content: " ";
    background: white;
}

.dibs-easy-active {
    border: 2px solid lightgreen;
}

.dibs-easy-active::before {
    background: black;
    /*background: url(/skin/frontend/base/default/images/dibs/dibs-shipping-selector-active.png) no-repeat 1px 5px;*/
}

.dibs-easy-active > ul {
    display: block !important;
}

.dibs-easy-non-active::before {
    border: 1px solid #e4e4e4;
}

.dibs-easy-shipping-button:hover {
    cursor: pointer;
}

.dibs-easy-ctrl-title {
    font-size: 20px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.dibs-easy-remove-link {
    width: 120px;
}

#dibs-easy-totals-grand_total {
    /* Style for "357,00" */
    width: 69px;
    height: 28px;
    color: #444444;
    line-height: 23px;
}

#totals-table {
    width: 100%;
}

#coupone-title {
    cursor: pointer;
    color: #1979c3;
}

#dibs-easy-totals-currency {
    /* Style for "Hide" */
    width: 570px;
    height: 909px;
    background-color: #ffffff;
}

.dibs-easy-totals-lable {
    width: 150px;
}

#dibs-easy-totals-lable-subtotal {
    font-weight: bold;
}

#dibs-easy-totals-lable-grand_total {
    font-weight: bold;

}

#dibs-easy-totals-grand_total {
    font-weight:bold;
}

.dibs-easy-product-details-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.dibs-easy-product-details-img {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    min-width: 82px;
    margin-right: 15px;
}
.dibs-easy-product-details-info,
.dibs-easy-product-details-cart{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    font-size: 13px;
}
.dibs-easy-product-details-info {
    max-width: 300px;
}
.dibs-easy-product-details-cart {
    min-width: 100px;
    text-align: right;
}
.dibs-easy-product-details-cart .price {
    font-weight: bold;
}



.dibs-easy-product-thumbnail {
    float: left;
    width: 82px;
    margin: 10px 20px 10px 0;
}

#totals-table #tr-subtotal {
    border-bottom: 0;
}

#dibs-easy-cart-thead td {
    vertical-align:bottom;
    padding-bottom: 0;
}

.dibs-easy-cart-descr {
    float: left;
    margin-top: 30px;
}

.dibs-easy-thumb-td {
    width: 300px;
}

.dibs-easy-remove-link {
    color: red;
    margin-left: 30px;
}

.dibs-easy-qty-input {
    width: 20px;
}

#dibseasy-cart-table {
    margin-bottom: 60px;
    width: 100%;
}

#dibs-easy-cart-thead td {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;

}

#dibs-easy-shipping-method-wrapper {
    margin-bottom: 15px;
}

#dibs-easy-shipping-title {
    margin-bottom: 10px;
}
#dibs-easy-shipping-methods {
    margin-bottom: 30px;
}

#totals-table #tr-shipping {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#tr-shipping #dibs-easy-totals-lable-shipping {
    padding-bottom: 8px;
}

#dibs-easy-grand-total-currency {
    color: #D5D5D5;
}

#totals-table td {
    padding-bottom: 0;
}

#totals-table {
    margin-bottom:15px;
}

#dibs-easy-grand-total-currency {
    margin-right: 7px;
    font-size: 10px;
}

#dibs-easy-totals-subtotal {
    font-weight: bold;
}

#dibs-easy-incl-tax {
    font-weight:normal;
}

#dibs-easy-grand-total-value {
    margin-right: 5px;
}

#dibs-easy-incl-tax-symbol {
    font-size: 9px;
}

#dibs-easy-incl-tax {
    color: #D5D5D5;
}

.dibs-easy-cart-subtotal {
    margin-left: 30px;
}

#totals-table #coupone_tr {
    border-bottom: 2px solid rgba(0,0,0,0.05);
}

@media screen and (max-width: 480px) {
    #dibs-easy-controls {
        float: none;
        width: 100%;
    }

    #dibs-easy-window {
        margin: 0 auto;
        width: 100%;
    }

    .dibs-easy-cart-descr {
        margin: 0;
    }
}

@media (min-width: 1025px){
    #dibseasy-switch-checkout-mobile {
        display: none;
    }
}

#dibseasy-switch-checkout-mobile {
    margin:0 auto;
    width: 196px;

}

@media (min-width: 1281px) {

    #dibseasy-switch-checkout-mobile {
        display: none;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    #dibseasy-switch-checkout-mobile {
        display: none;
    }

    #dibseasy-switch-checkout-screen {
        display: block;
    }

    .dibs-easy-qty-td {
        width: 186px;
    }

    .dibs-easy-price-td {
        width: 174px;
    }

    .dibs-easy-subtotal-td {
        width: 473px;
    }

    .dibs-easy-remove-link {
        margin-left: 110px;
    }

}


@media (min-width: 768px) and (max-width: 1024px) {

    .dibs-easy-qty-td {
        width: 186px;
    }

    .dibs-easy-price-td {
        width: 174px;
    }

    .dibs-easy-subtotal-td {
        width: 473px;
    }

    .dibs-easy-remove-link {
        margin-left: 110px;
    }

    #dibs-easy-totals-grand_total {
        font-size: 16px;
    }

    #dibseasy-switch-checkout-screen {
        display: none;
    }

    #dibs-easy-window {
        margin: 0 auto;
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    #dibs-easy-window {
        width: 100%;
        margin: 0 auto;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    #dibseasy-switch-checkout-screen {
        display: none;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    #dibseasy-switch-checkout-mobile {
        display: block;
    }

    #dibseasy-switch-checkout-screen {
        display: none;
    }

    #dibs-easy-controls {
        float: none;
        width: 100%;
    }
}


.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }


.btn-outline-primary {
    color: #007FB0;
    background-color: transparent;
    background-image: none;
    border-color: #007FB0;
    border-radius: 25px;
    height: 35px;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #007FB0;

}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #007bff;
    background-color: transparent;
}

*.hidden {
    display: none !important;
}

div.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(16, 16, 16, 0.5);
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.uil-ring-css {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
}
.uil-ring-css > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 #ffffff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}

#easy-coupon-button-submit {
    padding-left: 5px;
    padding-right: 5px;
}